header {
    background: $header-color;
    overflow: hidden;
    position: fixed;
    z-index: 2;
    width: 100vw;
    padding: 1rem 1rem; //Media query per portarlo a 4rem
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    // margin-bottom: 7rem;

    div a .logo {
        border-radius: 24px;
        z-index: 2;
        isolation: isolate;
    }

    div .menu-btn {
        z-index: 1;
        height: 20px;
        width: 28px;
        cursor: pointer;
        @include transitionEase;

        &_burger {
            width: 100%;
            height: 3px;
            background: rgb(210, 210, 210);
            @include transitionEase;

            &::before {
                content: '';
                position: absolute;
                top: 32px;
                width: 28px;
                height: 3px;
                background-color: rgb(210, 210, 210);
                @include transitionEase;
            }

            &::after {
                content: '';
                position: absolute;
                top: 46px;
                width: 22px;
                height: 3px;
                background-color: rgb(210, 210, 210);
                @include transitionEase;
            }

            &.open {
                transform: rotate(720deg);
                background: transparent;

                &::before {
                    transform: rotate(45deg) translate(-21px, -24px);
                }
            
                &::after {
                    width: 28px;
                    transform: rotate(-45deg) translate(34px, -32px);
                }
            }
        }
    }

    div .nav {
        background: black;
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        opacity: .98;
        visibility: hidden;

        &.open {
            visibility: visible;
            @include transitionEase;
        }

        .nav-menu {
            flex-flow: column wrap;
            justify-content: center;
            height: 100vh;
            overflow: hidden;
            margin: 0;
            padding: 0;
            list-style: none;
            transform: translateY(-100%);
            @include transitionEase;

            &.open {
                transform: translateY(0);
            }

            &_item {
                border-bottom: 1px solid rgba($color: #181818, $alpha: .8);
                transform: translateX(-100vw);
                @include transitionEase;

                &.open {
                    transform: translateX(0);
                }
            }
        }
   
        ul > li > a {
            display: inline-block;
            color: $text-color;
            font-size: 1.6rem;
            text-transform: uppercase;
            padding: 2rem 0;
            font-weight: 300;
            @include transitionEase;
            transition: 0.15s;
   
            &:hover {
                color: darken($neon-green, 2%);
                text-decoration: none;
            }

            &.active {
                color: darken($neon-pink, 12%);
            }
        }
    }
}

@for $i from 1 through 4 {
    header div .nav .nav-menu .nav-menu_item:nth-child(#{$i}) {
        transition-delay: ($i * 0.15s) + 0.15s;
        width: 100%;
        display: flex;
        justify-content: center;
    }
}

@media (min-width: 1024px) {

    header {
        position: relative;
        background: rgba(black, 0.6);
    
        div .menu-btn {
            visibility: hidden;
        }

        div .nav {
            position: relative;
            height: 50px;
            visibility: visible;
            background: transparent;

            .nav-menu {
                display: block;
                transform: translateY(0);
                height: 100%;
                text-align: right;

                &_item {
                    display: inline !important;
                    border-bottom: none;
                    padding-right: 3.5rem;

                    a {
                        font-size: 1.5rem;
                        font-weight: 400;
                        padding: .5rem 0 .5rem;
                    }
                }
            }
        }
    }

    body main .about {
        border-radius: 0 !important;
    }
}
