.secondary-section {
  position: relative;
  padding-top: 90px;
  font-family: $main-font;
  background: #0a0a0a;

  .uk-container{
    padding-left: 40px;
    padding-right: 40px;
  }
}

.secondary-div {
  padding: 40px;
  font-size: 0.8rem;
  color: #ffffff;
}

  .shadowed-container {
    position: relative;
    border-radius: 15px;
    box-shadow: 0 1px 10px rgba($color: #ffffff, $alpha: 0.2);
    isolation: isolate;
    z-index: 1;
      
    &::before {
      content: '';
      position: absolute;
      inset: -4px;
      background: linear-gradient(45deg, $neon-pink, $neon-green);
      border-radius: inherit;
      filter: blur(8px);
      z-index: -1;
      opacity: 0.4;
      transition: opacity 0.3s ease;
    }

    &:hover::before {
      opacity: 1;
    }

    .container {
      padding: 20px;
      border-radius: inherit;
      background: #0a0a0a;
      z-index: 2;
    

      .my-vision {
        text-align: center;
        font-weight: 300;
        margin-bottom: 40px;
        color: rgba(#fff, 0.4);
      }

      h4 {
        color: rgba($neon-pink, 0.9);
        font-style: italic;
        margin: 20px 0 20px;
      }

      p {
        line-height: 1.6;
        margin-bottom: 40px;
        color: rgba(#fff, 0.6);
      }
    }
  }

@media (min-width: 360px) {
  .shadowed-container .container .my-vision {
    font-size: 1.6rem;

    ~ h4 {
      font-size: 1.3rem;

      ~ p {
        font-size: 1rem;
      }
    }
  }
}

@media (min-width: 1200px) {
  .shadowed-container .container .my-vision {
    font-size: 1.4rem;

    ~ h4 {
      font-size: 1.1rem;

      ~ p {
        font-size: 0.8rem;
      }
    }
  }
}