@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
html {
  scroll-behavior: smooth;
  scrollbar-width: none;
  background: black;
}

body {
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
body em {
  color: #ff00ff;
}
body header {
  box-sizing: border-box;
}

header {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.6) 100%);
  overflow: hidden;
  position: fixed;
  z-index: 2;
  width: 100vw;
  padding: 1rem 1rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
header div a .logo {
  border-radius: 24px;
  z-index: 2;
  isolation: isolate;
}
header div .menu-btn {
  z-index: 1;
  height: 20px;
  width: 28px;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}
header div .menu-btn_burger {
  width: 100%;
  height: 3px;
  background: rgb(210, 210, 210);
  transition: all 0.5s ease-in-out;
}
header div .menu-btn_burger::before {
  content: "";
  position: absolute;
  top: 32px;
  width: 28px;
  height: 3px;
  background-color: rgb(210, 210, 210);
  transition: all 0.5s ease-in-out;
}
header div .menu-btn_burger::after {
  content: "";
  position: absolute;
  top: 46px;
  width: 22px;
  height: 3px;
  background-color: rgb(210, 210, 210);
  transition: all 0.5s ease-in-out;
}
header div .menu-btn_burger.open {
  transform: rotate(720deg);
  background: transparent;
}
header div .menu-btn_burger.open::before {
  transform: rotate(45deg) translate(-21px, -24px);
}
header div .menu-btn_burger.open::after {
  width: 28px;
  transform: rotate(-45deg) translate(34px, -32px);
}
header div .nav {
  background: black;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  opacity: 0.98;
  visibility: hidden;
}
header div .nav.open {
  visibility: visible;
  transition: all 0.5s ease-in-out;
}
header div .nav .nav-menu {
  flex-flow: column wrap;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  padding: 0;
  list-style: none;
  transform: translateY(-100%);
  transition: all 0.5s ease-in-out;
}
header div .nav .nav-menu.open {
  transform: translateY(0);
}
header div .nav .nav-menu_item {
  border-bottom: 1px solid rgba(24, 24, 24, 0.8);
  transform: translateX(-100vw);
  transition: all 0.5s ease-in-out;
}
header div .nav .nav-menu_item.open {
  transform: translateX(0);
}
header div .nav ul > li > a {
  display: inline-block;
  color: rgba(255, 255, 255, 0.7);
  font-size: 1.6rem;
  text-transform: uppercase;
  padding: 2rem 0;
  font-weight: 300;
  transition: all 0.5s ease-in-out;
  transition: 0.15s;
}
header div .nav ul > li > a:hover {
  color: #ccf500;
  text-decoration: none;
}
header div .nav ul > li > a.active {
  color: #c200c2;
}

header div .nav .nav-menu .nav-menu_item:nth-child(1) {
  transition-delay: 0.3s;
  width: 100%;
  display: flex;
  justify-content: center;
}

header div .nav .nav-menu .nav-menu_item:nth-child(2) {
  transition-delay: 0.45s;
  width: 100%;
  display: flex;
  justify-content: center;
}

header div .nav .nav-menu .nav-menu_item:nth-child(3) {
  transition-delay: 0.6s;
  width: 100%;
  display: flex;
  justify-content: center;
}

header div .nav .nav-menu .nav-menu_item:nth-child(4) {
  transition-delay: 0.75s;
  width: 100%;
  display: flex;
  justify-content: center;
}

.secondary-section {
  position: relative;
  padding-top: 90px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background: #0a0a0a;
}
.secondary-section .uk-container {
  padding-left: 40px;
  padding-right: 40px;
}

.secondary-div {
  padding: 40px;
  font-size: 0.8rem;
  color: #ffffff;
}

.shadowed-container {
  position: relative;
  border-radius: 15px;
  box-shadow: 0 1px 10px rgba(255, 255, 255, 0.2);
  isolation: isolate;
  z-index: 1;
}
.shadowed-container::before {
  content: "";
  position: absolute;
  inset: -4px;
  background: linear-gradient(45deg, #ff00ff, #d4ff00);
  border-radius: inherit;
  filter: blur(8px);
  z-index: -1;
  opacity: 0.4;
  transition: opacity 0.3s ease;
}
.shadowed-container:hover::before {
  opacity: 1;
}
.shadowed-container .container {
  padding: 20px;
  border-radius: inherit;
  background: #090909;
  z-index: 2;
}
.shadowed-container .container .my-vision {
  text-align: center;
  font-weight: 300;
  margin-bottom: 40px;
  color: rgba(255, 255, 255, 0.4);
}
.shadowed-container .container h4 {
  color: rgba(255, 0, 255, 0.9);
  font-style: italic;
  margin: 20px 0 20px;
}
.shadowed-container .container p {
  line-height: 1.6;
  margin-bottom: 40px;
  color: rgba(255, 255, 255, 0.6);
}

@media (min-width: 360px) {
  .shadowed-container .container .my-vision {
    font-size: 1.6rem;
  }
  .shadowed-container .container .my-vision ~ h4 {
    font-size: 1.3rem;
  }
  .shadowed-container .container .my-vision ~ h4 ~ p {
    font-size: 1rem;
  }
}
@media (min-width: 1200px) {
  .shadowed-container .container .my-vision {
    font-size: 1.4rem;
  }
  .shadowed-container .container .my-vision ~ h4 {
    font-size: 1.1rem;
  }
  .shadowed-container .container .my-vision ~ h4 ~ p {
    font-size: 0.8rem;
  }
}
body main .about {
  background: #0a0a0a;
  display: flex;
  justify-content: center;
  padding: 120px 20px 20px 20px;
}
body main .about ul {
  list-style: none;
  padding: 0;
  margin-bottom: 40px;
}
body main .about .container {
  display: flex;
  max-width: 1200px;
  width: 100%;
  background: #0a0a0a;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 1px 4px 10px rgba(0, 0, 0, 0.1);
}
body main .about .container .col {
  padding: 0;
}
body main .about .container .col-center {
  padding: 2rem 2rem 0 0;
}
body main .about .container .col-center li {
  margin-bottom: 0.4rem;
}
body main .about .container .col-center .link {
  color: rgba(255, 255, 255, 0.6);
  padding-right: 0.4rem;
}
body main .about .container .col-center .link:hover {
  color: #b2d600;
}
body main .about .container .col-center .link img {
  padding-right: 0.4rem;
}
body main .about .container .col-center .bio-link {
  color: rgba(255, 255, 255, 0.5);
}
body main .about .container .col-right {
  padding: 2rem 0;
  width: 35%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #979797;
}
body main .about .container .col-right .profile-img {
  padding: 1rem;
  height: 30%;
  border-radius: 10px;
}
body main .about .container .col-right .projects {
  margin-top: 40px;
  padding: 1rem;
  height: 70%;
  width: 80%;
  background: #979797;
  color: #0a0a0a;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: 0.8rem;
  border-radius: 10px;
}
body main .about .container .col-right .projects > h2 {
  font-weight: bold;
  color: #0a0a0a;
}
body main .about .container .col-right .projects-item {
  margin: 40px 0 40px;
}
body main .about .container .col-right .projects-item .link {
  color: #0a0a0a;
  font-size: 1rem;
}
body main .about .container .col-right .projects-item .button {
  color: #0a0a0a;
  font-size: 1rem;
  margin-top: 20px;
  padding: 20px;
  border: solid 1px #0a0a0a;
  width: 290px;
}
body main .about .container .col-right .projects-item .button:hover {
  transition: 0.4s;
  color: white;
  border: solid 1px white;
}
body main .about .container .col:first-child {
  width: 15%; /* Colonna vuota */
}
body main .about .container .col:nth-child(2) {
  width: 50%; /* Contenuto CV */
}

.about .container .col > h1 {
  font-weight: 300;
  margin-bottom: 40px;
  color: white;
}
.about .container .col > h1 ~ h3 {
  font-size: medium;
  color: rgba(255, 255, 255, 0.7);
  text-transform: uppercase;
  font-style: italic;
}
.about .container .col > h1 ~ h4 {
  font-size: 18px;
  color: rgba(255, 0, 255, 0.9);
  margin: 20px 0 20px;
}
.about .container .col > h1 ~ p {
  line-height: 1.6;
  margin-bottom: 40px;
}

body footer {
  padding-top: 40px;
}

@media (max-width: 900px) {
  body main .about .container {
    padding: 2rem;
    flex-direction: column;
  }
  body main .about .container .col:first-child {
    display: none;
  }
  body main .about .container .col:nth-child(2) {
    width: 100%;
  }
  body main .about .container .col-right {
    width: 100%;
    padding: 0;
  }
  body main .about .container .col-right .profile-img {
    width: 250px;
    height: 250px;
  }
}
body main {
  background: linear-gradient(120deg, #b300b3, black);
  background-size: 400% 400%;
  animation: gradientAnimation 6s ease infinite;
  overflow-x: hidden;
}

.uk-section {
  height: 100vh;
}

.divider {
  border-top-color: rgba(255, 255, 255, 0.214) !important;
}

.uk-heading-large {
  color: white !important;
  text-shadow: 0 0 2px #d4ff00;
  letter-spacing: 1px;
}

.uk-text-xlarge {
  color: #d4ff00;
  text-transform: uppercase;
  font-style: italic;
  letter-spacing: 1px;
}

.uk-button-default {
  color: white !important;
}

.uk-button-cyberpunk {
  border: 2px solid transparent;
  padding: 12px 24px;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 1px;
  position: relative;
  overflow: hidden !important;
}
.uk-button-cyberpunk:hover {
  background: #d4ff00 !important;
  transition: 0.4s;
  color: black !important;
  border-color: black !important;
  box-shadow: 0 0 10px #4d004d;
  transform: translateY(-2px);
}
.uk-button-cyberpunk::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(120deg, transparent, rgba(170, 13, 13, 0.321), transparent);
  transition: 0.4s;
}
.uk-button-cyberpunk:hover::before {
  left: 100%;
}

.uk-section {
  position: relative;
}
.uk-section::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background: linear-gradient(90deg, transparent, #d4ff00, transparent);
}

footer {
  overflow-x: hidden;
  background-color: #0a0a0a;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
footer .social {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25vw;
  flex-wrap: wrap;
  row-gap: 5px;
}
footer .social .container {
  font-size: 23px;
  display: flex;
  margin: 0 5px;
  width: 11vw;
}
footer .social .container .link {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.7);
}
footer .social .container .link i {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  cursor: pointer;
  transition: color 0.2s;
}
footer .social .container .link i:hover {
  color: #d4ff00;
}
footer .social .container .link i .label {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin: 0;
  padding-left: 0.6rem;
  font-size: 0.6rem;
  cursor: pointer;
}

.copyright {
  width: 100%;
  margin: 40px 0 0;
  padding-left: 15px;
  background-color: #0a0a0a;
  font-size: 0.6rem;
  color: rgba(255, 255, 255, 0.3);
}

@media (max-width: 768px) {
  .uk-heading-large {
    font-size: 2.5rem;
  }
  .uk-text-xlarge {
    font-size: 1.2rem;
  }
  footer .social {
    flex-direction: row;
    width: 70%;
    margin-bottom: 10px;
    justify-content: space-evenly;
  }
  footer .social .container {
    font-size: 35px;
  }
  footer .social .container .link i .label {
    display: none;
  }
}
@media (min-width: 960px) {
  footer .social {
    flex-wrap: nowrap;
  }
}
@media (min-width: 1600px) {
  footer .social {
    flex-wrap: nowrap;
    width: 14%;
    left: 20px;
  }
  footer .social .container .link i .label {
    padding-left: 1rem;
  }
}/*# sourceMappingURL=style.css.map */